<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Claudia & Nahum 2024</title>
    <link rel="stylesheet" href="css/dress-code.css">
</head>
<body>
    <header class="navbar">
        <nav class="desktop_menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="">Programa</a></li>
                <img src="/images/wedding.png" alt="logo de la boda" class="principal_logo_desktop">
                <li><a href="#main_details">Información</a></li>
                <li><a href="/login">RSVP</a></li>
            </ul>
        </nav>
        <nav class="phone_menu">
            <div class="logo_phone">
                <img src="/images/goldLogo.png" alt="" class="principal_logo">
            </div>
            <div class="menu_p">
                <img src="/images/ListGold.png" alt="" class="menu_icon">
            </div>
            <ul class="nav_phone_menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="">Programa</a></li>
                <li><a href="#main_details">Información</a></li>
                <li><a href="/login">RSVP</a></li>
            </ul>
        </nav>
    </header>
    <section class="photo-dress">
        <div class="photo-dress-text">
            <h1>DRESS CODE</h1>
        </div>
        <div class="photo-dress-img">
            <img src="/images/dressCodeFirst.png" alt="">
        </div>
    </section>
    <section class="women-options">
        <div class="women-options-text">
            <h1>Mujeres</h1>
            <h2>Te dejamos algunas fotos que puedes utilizar de inspiración, recuerda no utilizar color blanco, perla o similares, tampoco vestidos cortos</h2>
        </div>
        <div class="details-imgs">
            <div class="details">
                <div class="details-text">
                    <h2>No colores claros como blanco, perla, etc.</h2>
                </div>
                <div class="details-text">
                    <h2>No colores claros como blanco, perla, etc.</h2>
                </div>
                <div class="details-text">
                    <h2></h2>
                </div>
            </div>
            <div class="imgs">
                <img src="/images/dressExample1.png" alt="">
                <img src="/images/dressExample2.png" alt="">
                <img src="/images/dressExample3.png" alt="">
                <img src="/images/dressExample4.png" alt="">
                <img src="/images/dressExample1.png" alt="">
                <img src="/images/dressExample2.png" alt="">
            </div>
        </div>
    </section>
    


    <script src="/fun/fun-dress-code.js"></script>
</body>
</html>