<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Claudia & Nahum 2024</title>
    <link rel="stylesheet" href="css/dress-code.css">
</head>
<body>
    <header class="navbar">
        <nav class="desktop_menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#mujeres_section">Mujeres</a></li>
                <img src="/images/goldLogo.png" alt="logo de la boda" class="principal_logo_desktop">
                <li><a href="#hombres_section">Hombres</a></li>
                <li><a href="/login">Preguntas</a></li>
            </ul>
        </nav>
        <nav class="phone_menu">
            <div class="logo_phone">
                <img src="/images/goldLogo.png" alt="" class="principal_logo">
            </div>
            <div class="menu_p">
                <img src="/images/ListGold.png" alt="" class="menu_icon">
            </div>
            <ul class="nav_phone_menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="">Mujeres</a></li>
                <li><a href="#main_details">Hombres</a></li>
                <li><a href="/login">Preguntas</a></li>
            </ul>
        </nav>
    </header>

    <section class="intro-dress-code">
        <div class="intro-dress-code-text">
            <h1>DRESS CODE</h1>
            <h2>Te dejamos algunas fotos que puedes utilizar de inspiración, recuerda no utilizar color blanco, perla o similares, tampoco vestidos cortos.</h2>
        </div>
        <div class="intro-dress-code-img">
            <div class="intro-dress-code-women">
                <img src="/images/dress-code-women.webp" alt="">
                <a href="#women-section">Mujeres</a>
            </div>
            <div class="intro-dress-code-men">
                <img src="/images/dresscode-men.webp" alt="">
                <a href="#men-section">Hombres</a>
            </div>
        </div>
    </section>

    
    


    <script src="/fun/fun-dress-code.js"></script>
</body>
</html>