<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>Claudia & Nahum</title>
    <link rel="stylesheet" href="css/hoteles-styles.css">
</head>
<body>
    <header class="navbar">
        <nav class="desktop_menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/programa">Programa</a></li>
                <img src="/images/wedding.png" alt="logo de la boda" class="principal_logo_desktop">
                <li><a href="/dress-code">Dress Code</a></li>
                <li><a href="/login">Invitación</a></li>
            </ul>
        </nav>
        <nav class="phone_menu">
            <div class="logo_phone">
                <a href="/" class="logo-btn">
                    <img src="/images/goldLogo.png" alt="" class="principal_logo">
                </a>
            </div>
            <div class="menu_p">
                <img src="/images/ListGold.png" alt="" class="menu_icon">
            </div>
            <ul class="nav_phone_menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="/programa">Programa</a></li>
                <li><a href="/dress-code">Dress Code</a></li>
                <li><a href="/login">Invitación</a></li>
            </ul>
        </nav>
    </header>
    <section class="introduction-program">
        <div class="background-image-program">
             <img src="/images/hotel-plaza.webp" alt="Foto de claudia y nahum">
         </div>
         <div class="introduction-program-content">
             <h1>HOTELES</h1>
             <p>Te dejamos el el tipo de vestimenta de la boda.</p>
         </div>  
     </section>

    <div class="introduction_hotels">
        <h2>Nuestras mejores recomendaciones</h2>
        <div class="slider_hoteles">
            <div class="card_hotel">
                <div class="image_hotel">
                    <img src="https://image-tc.galaxy.tf/wijpeg-79plblcxns9uqg4uz9v6wqw4v/_photo.jpg" alt="">
                </div>
                <div class="info_hotel">
                    <h3>Hotel Fiesta Americana Hacienda San Antionio</h3>
                    <p>A menos de 10 minutos</p> 
                </div>
                <div class="link">
                    <a href="https://www.fiestamericana.com/hoteles-y-resorts/fiesta-americana-hacienda-san-antonio-el-puente-cuernavaca" target="_blank">Visitar</a>
                </div>
            </div>

            <div class="card_hotel">
                <div class="image_hotel">
                    <img src="https://radissoncuernavaca.mx/theme/img/bg1_1.jpg" alt="radisson_hotel">
                </div>
                <div class="info_hotel">
                    <h3>Radisson Quinta Rubelinas Cuernavaca</h3>
                    <p>A menos de 10 minutos</p> 
                </div>
                <div class="link">
                    <a href="https://radissoncuernavaca.mx/" target="_blank">Visitar</a>
                </div>
            </div>

            <div class="card_hotel">
                <div class="image_hotel">
                    <img src="https://digital.ihg.com/is/image/ihg/holiday-inn-express-and-suites-cuernavaca-5458409206-3x2?fmt=jpg&jpegSize=500&wid=733&qlt=85&resMode=sharp2&op_usm=1.75,0.3,2.0" alt="holidayInn_hotel">
                </div>
                <div class="info_hotel">
                    <h3>Holiday Inn Express & Suites Cuernavaca</h3>
                    <p>A menos de 20 minutos</p> 
                </div>
                <div class="link">
                    <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/cuernavaca/cvjjh/hoteldetail" target="_blank">Visitar</a>
                </div>
            </div>

            <div class="card_hotel">
                <div class="image_hotel">
                    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/487227411.jpg?k=8842daab30b47a2006dc707f55582517852cc5d8438033935772747bf0d01357&o=&hp=1" alt="">
                </div>
                <div class="info_hotel">
                    <h3>Hotel Boutique El Laurel</h3>
                    <p>A menos de 10 minutos</p> 
                </div>
                <div class="link">
                    <a href="https://www.booking.com/hotel/mx/quinta-el-laurel-xochitepec.es.html?aid=318615&label=New_Spanish_ES_ES_21463012705-MdTXWB4HpKUSCKFdbQ0nigS640874830729%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atidsa-64415224945%3Alp9061033%3Ali%3Adec%3Adm%3Aag21463012705%3Acmp340207705&sid=dc5b51fd53e56b9340f6459b8c5eea4d&dest_id=-1708566;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=1;hpos=1;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1701901841;srpvid=5dd29e448bd801a7;type=total;ucfs=1&#hotelTmpl" target="_blank">Visitar</a>
                </div>
            </div>


            <div class="card_hotel">
                <div class="image_hotel">
                    <img src="https://lasmananitas.com.mx/images/garden/1.jpg" alt="">
                </div>
                <div class="info_hotel">
                    <h3>Las Mañanitas Hotel, Garden, Restaurant and Spa</h3>
                    <p>A menos de 35 minutos </p> 
                </div>
                <div class="link">
                    <a href="https://lasmananitas.com.mx/" target="_blank">Visitar</a>
                </div>
            </div>


            <div class="card_hotel">
                <div class="image_hotel">
                    <img src="https://www.hotelhaciendadecortes.com.mx/theme/img/bg1_4.jpg" alt="">
                </div>
                <div class="info_hotel">
                    <h3>Hotel & Spa Hacienda de Cortés</h3>
                    <p>A menos de 25 minutos</p> 
                </div>
                <div class="link">
                    <a href="https://www.hotelhaciendadecortes.com.mx/?gad_source=1&gclid=EAIaIQobChMI0aHKi-z9ggMVXYRoCR1B7QX0EAAYAiAAEgLU7PD_BwE" target="_blank">Visitar</a>
                </div>
            </div>

        </div>
    </div>

    <footer class="final-section">
        <div class="footer-info">
            <h2 class="footer-text-web">Si tienes alguna duda, <br>no dudes en contactarnos.</h2>
            <h1>CLAUDIA & NAHUM</h1>
            <h3>19 · OCTUBRE · 2024</h3>
        </div>
        <div class="email-contact">
            <h2 class="footer-text-phone">Si tienes alguna duda, <br>no dudes en contactarnos.</h2>
            <form action="" method="">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Tu nombre"><br>
              
                <label for="correo">Correo electrónico</label>
                <input type="email" id="correo" name="correo" placeholder="tucorreo@gmail.com" required><br>
              
                <label for="asunto">Asunto</label>
                <input type="text" id="asunto" name="asunto" placeholder="Asunto del correo" required><br>
              
                <label for="mensaje">Mensaje</label><br>
                <textarea id="mensaje" name="mensaje"  placeholder="Escribe aquí tu mensaje" required></textarea><br>
              
                <button id="btn-email" type="submit">Enviar correo</button>
              </form>
        </div>
    </footer>

    

    <script src="/fun/fun-hoteles.js"></script>
</body>
</html>