<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Claudia & Nahum</title>
    <link rel="stylesheet" href="css/hoteles-styles.css">
</head>
<body>
    <header class="navbar">
        <nav class="desktop_menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="">Programa</a></li>
                <img src="/images/Wedding.png" alt="logo de la boda" class="principal_logo_desktop">
                <li><a href="/#main_details">Información</a></li>
                <li><a href="/login">RSVP</a></li>
            </ul>
        </nav>
        <nav class="phone_menu">
            <div class="logo_phone">
                <img src="/images/goldLogo.png" alt="" class="principal_logo">
            </div>
            <div class="menu_p">
                <img src="/images/ListGold.png" alt="" class="menu_icon">
            </div>
            <ul class="nav_phone_menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="">Programa</a></li>
                <li><a href="#main_details">Información</a></li>
                <li><a href="/login">RSVP</a></li>
            </ul>
        </nav>
    </header>

    <div class="introduction_hotels">
        <div class="title_and_text">
            <h2>Hospejade</h2>
        </div>
        <div class="slider_hoteles">
            <div class="info_logo_bed">
                <h3>Te dejamos algunas opciones de hospedaje para el día de nuestra boda</h3>
                <img src="/images/Bed.png" alt="bed_icon">
            </div>

            <div class="card_hotel">
                <div class="image_hotel">
                    <img src="https://image-tc.galaxy.tf/wijpeg-79plblcxns9uqg4uz9v6wqw4v/_photo.jpg" alt="">
                </div>
                <div class="info_hotel">
                    <h2>Hotel Fiesta Americana Hacienda San Antionio</h2>
                    <p>A menos de 10 minutos</p> 
                </div>
                <div class="link">
                    <a href="https://www.fiestamericana.com/hoteles-y-resorts/fiesta-americana-hacienda-san-antonio-el-puente-cuernavaca" target="_blank">Ver opcion</a>
                </div>
            </div>

            <div class="card_hotel">
                <div class="image_hotel">
                    <img src="https://radissoncuernavaca.mx/theme/img/bg1_1.jpg" alt="radisson_hotel">
                </div>
                <div class="info_hotel">
                    <h2>Radisson Quinta Rubelinas Cuernavaca</h2>
                    <p>A menos de 10 minutos</p> 
                </div>
                <div class="link">
                    <a href="https://radissoncuernavaca.mx/" target="_blank">Ver opcion</a>
                </div>
            </div>

            <div class="card_hotel">
                <div class="image_hotel">
                    <img src="https://digital.ihg.com/is/image/ihg/holiday-inn-express-and-suites-cuernavaca-5458409206-3x2?fmt=jpg&jpegSize=500&wid=733&qlt=85&resMode=sharp2&op_usm=1.75,0.3,2.0" alt="holidayInn_hotel">
                </div>
                <div class="info_hotel">
                    <h2>Holiday Inn Express & Suites Cuernavaca</h2>
                    <p>A menos de 20 minutos</p> 
                </div>
                <div class="link">
                    <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/cuernavaca/cvjjh/hoteldetail" target="_blank">Ver opcion</a>
                </div>
            </div>

            <div class="card_hotel">
                <div class="image_hotel">
                    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/487227411.jpg?k=8842daab30b47a2006dc707f55582517852cc5d8438033935772747bf0d01357&o=&hp=1" alt="">
                </div>
                <div class="info_hotel">
                    <h2>Hotel Boutique El Laurel</h2>
                    <p>A menos de 10 minutos</p> 
                </div>
                <div class="link">
                    <a href="https://www.booking.com/hotel/mx/quinta-el-laurel-xochitepec.es.html?aid=318615&label=New_Spanish_ES_ES_21463012705-MdTXWB4HpKUSCKFdbQ0nigS640874830729%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atidsa-64415224945%3Alp9061033%3Ali%3Adec%3Adm%3Aag21463012705%3Acmp340207705&sid=dc5b51fd53e56b9340f6459b8c5eea4d&dest_id=-1708566;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=1;hpos=1;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1701901841;srpvid=5dd29e448bd801a7;type=total;ucfs=1&#hotelTmpl" target="_blank">Ver opcion</a>
                </div>
            </div>


            <div class="card_hotel">
                <div class="image_hotel">
                    <img src="https://lasmananitas.com.mx/images/garden/1.jpg" alt="">
                </div>
                <div class="info_hotel">
                    <h2>Las Mañanitas Hotel, Garden, Restaurant and Spa</h2>
                    <p>A 35 minutos aproximadamente</p> 
                </div>
                <div class="link">
                    <a href="https://lasmananitas.com.mx/" target="_blank">Ver opcion</a>
                </div>
            </div>
            <div class="card_hotel">
                <div class="image_hotel">
                    <img src="/images/NahunClau_Preboda-19.jpg" alt="">
                </div>
                <div class="info_hotel">
                    <h2>Hotel 1</h2>
                    <p>Opcion 1 hotel Lorem ipsum</p> 
                </div>
                <div class="link">
                    <a href="" target="_blank">Ver opcion</a>
                </div>
            </div>
            <div class="card_hotel">
                <div class="image_hotel">
                    <img src="/images/NahunClau_Preboda-19.jpg" alt="">
                </div>
                <div class="info_hotel">
                    <h2>Hotel 1</h2>
                    <p>Opcion 1 hotel Lorem ipsum</p> 
                </div>
                <div class="link">
                    <a href="" target="_blank">Ver opcion</a>
                </div>
            </div>
        </div>
    </div>

    

    <script>
        const menuOptions = document.querySelector('.menu_p img')
        const navBar = document.querySelector('.navbar')
        const menuIcon = document.querySelector('.menu_icon')
        const logoW = document.querySelector('.principal_logo')

        menuOptions.addEventListener('click', toggleMobileMenu)
        function toggleMobileMenu() {
            const navPhoneMenu = document.querySelector('.nav_phone_menu');
            navPhoneMenu.classList.toggle('show');
            navBar.classList.toggle('show')


            if(menuIcon.src.includes('ListGold.png')){
                menuIcon.src = '/images/XGold.png'
                logoW.src = '/images/goldLogo.png'
            } else{
                menuIcon.src = '/images/ListGold.png'
                logoW.src = '/images/goldLogo.png'
            }

        }

        const menuDesktop = document.querySelector('.desktop_menu');
        const menuDesktopOp = document.querySelectorAll('.desktop_menu a')
        const logoWDesktop = document.querySelector('.principal_logo_desktop')
        const phoneBar = document.querySelector('.phone_menu')

        document.addEventListener('scroll', () => {
            if(window.scrollY > 200){
                phoneBar.classList.add('phone_scroll')
                menuDesktop.classList.add('desktop_scroll')
                menuDesktopOp.forEach((op) => {op.style.color = '#607660'})
                logoWDesktop.src = '/images/goldLogo.png';

            } else{
                phoneBar.classList.remove('phone_scroll')
                menuDesktop.classList.remove('desktop_scroll')
                menuDesktopOp.forEach((op) => {op.style.color = '#f8f8f8'});
                logoWDesktop.src = '/images/wedding.png';
            }
            
        })

        const cardHotels = document.querySelectorAll('.card_hotel');

        window.addEventListener('load', checkScroll)
        window.addEventListener('scroll', checkScroll)
        window.addEventListener('resize', checkScroll)
        

        function checkScroll(){
            cardHotels.forEach(box => {
                const boxTop = box.getBoundingClientRect().top;
                const triggerBottom = window.innerHeight * 0.9; 

                if (boxTop < triggerBottom) {
                    box.classList.add('show');
                } else {
                    box.classList.remove('show');
                }
            });
        }
        
        const phoneOp = document.querySelectorAll('.nav_phone_menu a')

        console.log(phoneOp)

    </script>
</body>
</html>