<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grandiflora+One&family=MonteCarlo&display=swap" rel="stylesheet">
    <title>Datos de Invitados</title>
    <style>
        @font-face {
            font-family: 'Hertine';
            src: url(/fonts/Hertine.ttf);
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html{
            font-size: 10px;
        }
        body{
            background-color: #f5f5f5;
        }
        .invitation_cn{
            background-image: url(/images/fondo-invitacion.png);
            width: 100vw;
            height: 100%;
            background-size: cover;
            position: relative;
        }
        .doors-open{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index:10;
        }
        .side-one{
            width: 50%;
            height: 100%;
            background-color: #B7904C;
            animation: rightSideOpen 3s ease-in-out forwards;
            animation-delay: 1s;
        }
        .side-two{
            width: 50%;
            height: 100%;
            background-color: #B7904C;
            animation: leftSideOpen 3s ease-in-out forwards;
            animation-delay: 1s;
        }
        @keyframes leftSideOpen {
            0%{
                transform: translate(0);
                opacity: 1;
            }
            100%{
                transform: translate(50vw);
                opacity: .9;
                display: none;
            }
        }
        @keyframes rightSideOpen {
            0%{
                transform: translate(0);
                opacity: 1;
            }
            100%{
                transform: translate(-50vw);
                opacity: .9;
                display: none;
            }
        }
        

        .stamp{
            position: absolute;
            width: 100%;
            height: 100vh;
            z-index: 100;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            animation: opacityStamp 2s ease-in-out forwards;
        }
        .stamp img{
            width: 40%;
        }
        @keyframes opacityStamp {
            0%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        }

        .invitaciones{
            padding: 2%;
            height: 100vh;
            width: 100vw;
            display: grid;
            grid-template-columns: 2fr 3fr;
            gap: 2%;
            animation: showInvitations 6s ease-in-out forwards;
        }
        .pases{
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-between;
        }
        .sobre img{
            width: 100%;
            transform: scale(1.5) translateX(50px) translateY(50px);
        }


        .pases_info{
            background-color: #dbdbdb;
            width: 65%;
            height: 50%;
            margin-right: 50px;
            box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.2); 
            z-index: 1;
        }
        .info{
            display: flex;
            align-items: end;
            z-index: 1;
        }
        .papel_grande{
            width: 75%;
            height: 90%;
            background-color: #dbdbdb;
            box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.2); 
        }
        .logo_cn{
            display: flex;
            justify-content: end;
        }
        .logo_cn img{
            width: 20%;
            transform: scale(1.8) translateX(-20px) translateY(10px);
        }
        h1{
            color: #B7904C;
        }
        .invitados{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            width: 100%;
            padding: 20px;
            gap: 10px;
        }
        .invitados h2{
            font-size: 2.4rem;
            color: rgb(96, 118, 96);
            font-family: 'Grandiflora One', cursive;
            text-align: start;
        }
        .invitados h2:not(:first-child){
            font-size: 1.8rem;
        }
        .invitados h1{
            font-size: 3rem;
            color: #B7904C;
            font-family: 'Grandiflora One', cursive; /*'Hertine', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
            font-weight: 600;
            width: 100%;
            text-align: center;
        }
        .invitados p{
            font-size: 1.8rem;
            color: rgb(96, 118, 96);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: justify;
        }
        .invitados h3{
            color: rgb(255, 128, 0);
        }
        .pases_info_phone{
            display: none;
        }
        .datos_boda{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
        }
        .get-out img{
            width: 5%;
        }
        @keyframes showInvitations {
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }

        @media screen and (max-width: 720px) {
            .pases_info{
                display: none;
            }
            .invitaciones{
                grid-template-columns: 1fr;
            }
            .sobre img{
                width: 100%;
                transform: none;
            }
            .info{
                display: flex;
                justify-content: center;
                align-items: center;

            }
            .papel_grande{
                width: 90%;
                transform: translateY(-90px);
                height: fit-content;
            }
            .stamp img{
                width: 100%;
            }
        }
    </style>
</head>
<body>

    <section class="invitation_cn">
        <div class="invitaciones">
            <div class="pases">
                <!--<div class="sobre">
                    <img src="/images/c.png" alt="">
                </div>-->
                <div class="pases_info">
                    <h1>RSVP</h1>
                    <h2>Tu reservación está hecha para <%= usuario.numeroInvitados %> personas</h2>
                    <h3>Esperamos contar con su presencia.</h3>
                </div>
            </div>
            <div class="info">
                <div class="papel_grande">
                    <div class="logo_cn">
                        <img src="/images/goldLogo.png" alt="logo_boda">
                    </div>
                    <div class="invitados">
                        <h2><%= usuario.nombre %>,</h2>
                        <p>con gran alegría y emoción, los novios:</p>
                        <h1>CLAUDIA & NAHUM</h1>  <p> tienen el honor de invitarte a la celebración de su unión matrimonial.</p>
                        <p>Dicha boda se llevará a cabo el día</p>
                        <div class="datos_boda">
                            <h2 style="text-align: center; padding: 0px 20px;" >19 de OCTUBRE del 2024 a las 15:00 hrs</h2>
                            <h2 style="text-align: center; padding: 0px 20px;" >Hotel Galería Plaza San Jerónimo, CDMX</h2>
                        </div>
                        <p>Tu presencia en este día tan especial sería un honor para nosotros. Apreciamos profundamente la amistad y el amor que nos han brindado a lo largo de los años y nos gustaría compartir este momento significativo con ustedes.</p>
                    </div>
                </div>
                <div class="pases_info_phone">
                    <h3>Acompañantes: <%= usuario.numeroInvitados %></h3>
                </div>
            </div>
        </div>
        <div class="options">
            <a class="get-out" href="/logout"><img src="/images/getOut.png" alt="Salir de la invitación"></a>
        </div>
    </section>
    <div class="stamp">
        <img src="/images/envelope-cn.webp" alt="sello de la boda">
    </div>
    <div class="doors-open">
        <div class="side-one">

        </div>
        <div class="side-two">

        </div>
    </div>

    
    
</body>
</html>
