<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grandiflora+One&family=MonteCarlo&display=swap" rel="stylesheet">
    <title>Datos de Invitados</title>
    <style>
        @font-face {
            font-family: 'Hertine';
            src: url(/fonts/Hertine.ttf);
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html{
            font-size: 10px;
        }
        body{
            background-color: #f5f5f5;
        }
        .invitation_cn{
            background-image: url(/images/fondo-invitacion.png);
            width: 100vw;
            height: 100%;
            background-size: cover;
        }
        .invitaciones{
            padding: 2%;
            height: 100vh;
            width: 100vw;
            display: grid;
            grid-template-columns: 2fr 3fr;
            gap: 2%;
        }
        .pases{
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-between;
        }
        .sobre img{
            width: 100%;
            transform: scale(1.5) translateX(50px) translateY(50px);
        }


        .pases_info{
            background-color: #dbdbdb;
            width: 65%;
            height: 50%;
            margin-right: 50px;
            box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2); 
            z-index: 1;
        }
        .info{
            display: flex;
            align-items: end;
            z-index: 1;
        }
        .papel_grande{
            width: 75%;
            height: 90%;
            background-color: #dbdbdb;
            box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2); 
        }
        .logo_cn{
            display: flex;
            justify-content: end;
        }
        .logo_cn img{
            width: 20%;
            transform: scale(1.8) translateX(-20px) translateY(10px);
        }
        h1{
            color: #B7904C;
        }
        .invitados{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            width: 100%;
            padding: 20px;
            gap: 10px;
        }
        .invitados h2{
            font-size: 2.4rem;
            color: rgb(96, 118, 96);
            font-family: 'Grandiflora One', cursive;
            text-align: start;
        }
        .invitados h2:not(:first-child){
            font-size: 1.8rem;
        }
        .invitados h1{
            font-size: 3rem;
            color: #B7904C;
            font-family: 'Grandiflora One', cursive; /*'Hertine', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
            font-weight: 600;
            width: 100%;
            text-align: center;
        }
        .invitados p{
            font-size: 1.8rem;
            color: rgb(96, 118, 96);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: justify;
        }
        .invitados h3{
            color: rgb(255, 128, 0);
        }
        .pases_info_phone{
            display: none;
        }
        
        @media screen and (max-width: 720px) {
            .pases_info{
                display: none;
            }
            .invitaciones{
                grid-template-columns: 1fr;
            }
            .sobre img{
                width: 100%;
                transform: none;
            }
            .info{
                display: flex;
                justify-content: center;
                align-items: center;

            }
            .papel_grande{
                width: 90%;
                transform: translateY(-90px);
                height: fit-content;
            }
        }
    </style>
</head>
<body>

    <section class="invitation_cn">
        <div class="invitaciones">
            <div class="pases">
                <div class="sobre">
                    <img src="/images/c.png" alt="">
                </div>
                <div class="pases_info">
                    <h3>Acompañantes: <%= usuario.numeroInvitados %></h3>
                </div>
            </div>
            <div class="info">
                <div class="papel_grande">
                    <div class="logo_cn">
                        <img src="/images/logoWedding.png" alt="logo_boda">
                    </div>
                    <div class="invitados">
                        <p>Querido/a:</p>
                        <h2><%= usuario.nombre %>,</h2>
                        <p>con gran alegría y emoción, los novios:</p>
                        <h1>CLAUDIA & NAHUM</h1>  <p> tienen el honor de invitarles a la celebración de su unión matrimonial.</p>
                        <p>Dicha boda se llevará a cabo el día</p>
                        <h2 style="text-align: center; margin: 10px 0; padding: 0px 20px;" >19 de OCTUBRE del 2024 a las 14:00 hrs en Jardín Rincón Dorado, Cuernavaca, Morelos</h2>
                        <p>Su presencia en este día tan especial sería un honor para nosotros. Apreciamos profundamente la amistad y el amor que nos han brindado a lo largo de los años y nos gustaría compartir este momento significativo con ustedes.</p>
                    </div>
                </div>
                <div class="pases_info_phone">
                    <h3>Acompañantes: <%= usuario.numeroInvitados %></h3>
                </div>
            </div>
        </div>
        <a href="/logout">Log out</a>
    </section>
    
    
</body>
</html>
