<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>Claudia & Nahum</title>
    <link rel="stylesheet" href="css/principal-styles.css">
</head>
<body>
    <header class="navbar">
        <nav class="desktop_menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="/programa">Programa</a></li>
                <img src="/images/wedding.png" alt="logo de la boda" class="principal_logo_desktop">
                <li><a href="/dress-code">Dress Code</a></li>
                <li><a href="/login">Invitación</a></li>
            </ul>
        </nav>
        <nav class="phone_menu">
            <div class="logo_phone">
                <a href="/" class="logo-btn">
                    <img src="/images/goldLogo.png" alt="" class="principal_logo">
                </a>
            </div>
            <div class="menu_p">
                <img src="/images/ListGold.png" alt="" class="menu_icon">
            </div>
            <ul class="nav_phone_menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="/programa">Programa</a></li>
                <li><a href="/dress-code">Dress Code</a></li>
                <li><a href="/login">Invitación</a></li>
            </ul>
        </nav>
    </header>
    <section class="slider_album">
        <div class="slider-container">
            <div class="slide">
                <img src="./images/NahunClau_Preboda-43.webp" alt="">
            </div>
            <div class="slide">
                <img src="./images/NahunClau_Preboda-19.webp" alt="">
            </div>
            <div class="slide">
                <img src="./images/NahunClau_Preboda-25.webp" alt="">
            </div>
        </div>
        <div class="text_couple">
            <h1>CLAUDIA & NAHUM</h1>
            <h4>19 · OCTUBRE · 2024</h4>
        </div>
    </section>
    <section class="time_left">
        <h2>Solo faltan</h2>
        <div class="time">
            <div class="days"></div>
            <div class="hours"></div>
            <div class="minutes"></div>
            <div class="seconds"></div>
        </div>
    </section>
    <section class="litte_story" id="story_main">
        <div class="text_story">
            <h2>Nuestra historia</h2>
            <p>Hace 6 años que nos conocimos y desde ese momento algo dentro de nosotros se sintió especial, ha sido una aventura llena de grandes aprendizajes, crecimiento pero sobretodo mucho amor, "es como vivir en una luna de miel eterna" - Nahum</p>
            <img src="./images/NahunClau_Preboda-28.webp" alt="">
        </div>
        <div class="image_story">
            <div class="photo_walking">
                <img src="./images/NahunClau_Preboda-15.jpg" alt="" class="no_phone_img">
            </div>
        </div>
    </section>
    <div class="ticker">
        <div class="ticker-title">
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>  
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>
        </div>
    </div>


    <div class="important_details" id="main_details">
        <div class="text_details">
            <h2>Acerca del día</h2>
        </div>
        <div class="img_details">
            <img src="/images/NahunClau_Preboda-19.webp" alt="">
        </div>
    </div>
    
    <section class="main_info">
        <div class="schedule info_wedding">
            <div class="text_info">
                <h2>Programa</h2>
                <div class="info_img">
                    <img src="/images/ScheduleIcon.png" alt="">
                </div>  
            </div>   
             <p>Para asegurarnos de que no te pierdas ni un solo momento de nuestra celebración, hemos preparado un programa detallado para el día de la boda. Desde la ceremonia hasta la recepción, cada momento especial está cuidadosamente planificado para que disfrutes al máximo de este día único.</p>
             <div class="anchor">
                <a href="/programa">Ver itinerario</a>
             </div>
        </div>
        <div class="location info_wedding">
            <div class="text_info">
                <h2>Ubicación</h2>
                <div class="info_img">
                    <img src="/images/locationIcon.png" alt="">
                </div>  
            </div> 
             <p>Aquí encontrarás la ubicación exacta del lugar de la boda. Esta información te ayudará a llegar sin problemas y a disfrutar de cada momento del evento. ¡Esperamos que esta ubicación facilite tu experiencia en nuestra boda!</p>
             <div class="anchor">
                <a href="https://maps.app.goo.gl/yLPfyUgFqLGKbxfA7">Ver ubicación</a>
             </div>
        </div>
        <div class="dress_code info_wedding">
            <div class="text_info">
                <h2>Dress Code</h2>
                <div class="info_img">
                    <img src="/images/dressIcon.png" alt="">
                </div>  
            </div> 
             <p>Aquí te ofrecemos recomendaciones de vestimenta para nuestra boda. Desde el código de vestimenta hasta sugerencias específicas, esta guía te ayudará a lucir apropiado y elegante para la ocasión. Esperamos que estas sugerencias hagan que tu elección sea más sencilla y te permitan disfrutar al máximo de nuestro día especial.</p>
             <div class="anchor">
                <a href="/dress-code">Ver recomendiaciones</a>
             </div>
        </div>
        <div class="hotels info_wedding">
            <div class="text_info">
                <h2>Hoteles</h2>
                <div class="info_img">
                    <img src="/images/hotelcon.png" alt="">
                </div>  
            </div> 
             <p>Hemos seleccionado una lista de hoteles cercanos que ofrecen una experiencia de hospedaje. Desde lujosos hoteles hasta acogedores bed and breakfasts, hay opciones para todos los gustos y presupuestos. Te recomendamos reservar con anticipación para asegurar tu alojamiento durante este fin de semana especial.</p>
             <div class="anchor">
                <a href="/hoteles">Ver hoteles</a>
             </div>
        </div>
        <div class="rsvp_guest info_wedding">
            <div class="text_info">
                <h2>Reservación</h2>
                <div class="info_img">
                    <img src="/images/rsvpIcon.png" alt="">
                </div> 
            </div> 
            <p>Para confirmar tu asistencia y reservar tu lugar, te invitamos a completar el formulario de reserva en nuestra página web. Por favor, asegúrate de confirmar tu asistencia o te agradeceriamos que nos indiques si no pudieras asistir. ¡Esperamos con ansias compartir este día especial contigo!
            </p>
            <div class="anchor">
                <a href="/login">Hacer reservación</a>
            </div>           
        </div>
        <div class="gifts info_wedding">
            <div class="text_info">
                <h2>Mesa de Regalos</h2>
                <div class="info_img">
                    <img src="/images/giftIcon.png" alt="">
                </div>  
            </div> 
             <p>Para aquellos que deseen compartir su alegría con nosotros, su asistencia es el mejor regalo que podían darnos, además hemos creado una mesa de regalos donde podrán encontrar sugerencias. Desde artículos prácticos hasta experiencias inolvidables, cualquier gesto será apreciado y recordado con cariño.</p>
             <div class="anchor">
                <a href="/">Ver opciones</a>
             </div>
        </div>
        
    </section>

    <section class="enter-rvsp">
        <div class="img-rsvp">
            <img src="/images/rsvp-imgs.png" alt="foto de boda">
        </div>
        <div class="info-enter-rsvp">
            <h2>Reserva tu lugar</h2>
            <p>Queremos que seas parte de este momento tan importante para nosotros, confirma tu asistencia</p>
            <a href="/login" class="btn-enter-rsvp">RSVP</a>
        </div>
    </section>
    <section class="frequent-qa">
        <h2>Preguntas frecuentes</h2>
        <div class="questions">
            <div class="qa">
                <h3 class="question-title">
                    ¿Cuál es el tipo de vestimenta para el día de la boda?
                </h3>
                <p class="question-answer">El tipo de vestimenta para el día de la boda es formal de etiqueta, puedes encontrar más detalles en el siguiente enlace</p>
            </div>
            <div class="qa">
                <h3 class="question-title">
                    ¿Cuál es el horario de la ceremonia?
                </h3>
                <p class="question-answer">La ceremonia de la boda comenzará a las 4:00 p. m. Te recomendamos llegar al menos 30 minutos antes para asegurarte de tener tiempo suficiente para encontrar estacionamiento y tomar asiento.</p>
            </div>
            
            <div class="qa">
                <h3 class="question-title">
                    ¿Puedo traer a mis hijos a la boda?
                </h3>
                <p class="question-answer">Entendemos que puede ser difícil encontrar cuidado de niños durante un evento como una boda. Si bien la mayoría de nuestras invitaciones son solo para adultos, hacemos excepciones en casos especiales. Por favor, ponte en contacto con nosotros para discutir tus necesidades específicas.</p>
            </div>
            
            <div class="qa">
                <h3 class="question-title">
                    ¿Dónde puedo estacionar durante la boda?
                </h3>
                <p class="question-answer">Hemos reservado estacionamiento adicional en el lote detrás del lugar de la ceremonia. Habrá señalización para ayudarte a encontrarlo fácilmente. Si necesitas asistencia adicional, no dudes en preguntar a nuestro personal de eventos.</p>
            </div>
            <div class="qa">
                <h3 class="question-title">
                    ¿Hay restricciones dietéticas que deba tener en cuenta?
                </h3>
                <p class="question-answer">Intentamos acomodar todas las restricciones dietéticas de nuestros invitados. Si tienes alguna alergia alimentaria o requerimiento especial, por favor háznoslo saber al confirmar tu asistencia para que podamos hacer los arreglos necesarios con el catering.</p>
            </div>
            <div class="qa">
                <h3 class="question-title">
                    ¿Dónde se llevará a cabo la recepción?
                </h3>
                <p class="question-answer">La recepción se llevará a cabo en el salón de eventos del Hotel Magnolia, ubicado en el centro de la ciudad. La dirección completa es Calle Principal #123.</p>
            </div>
            <div class="qa">
                <h3 class="question-title">
                    ¿Habrá transporte disponible desde el hotel al lugar de la ceremonia?
                </h3>
                <p class="question-answer">Sí, habrá un servicio de transporte disponible desde el hotel hasta el lugar de la ceremonia. Los autobuses estarán estacionados frente al vestíbulo principal del hotel a partir de las 3:00 p. m.</p>
            </div>
        </div>
    </section>
    <footer class="final-section">
        <div class="footer-info">
            <h2 class="footer-text-web">Si tienes alguna duda, <br>no dudes en contactarnos.</h2>
            <h1>CLAUDIA & NAHUM</h1>
            <h3>19 · OCTUBRE · 2024</h3>
        </div>
        <div class="email-contact">
            <h2 class="footer-text-phone">Si tienes alguna duda, <br>no dudes en contactarnos.</h2>
            <form action="" method="">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Tu nombre"><br>
              
                <label for="correo">Correo electrónico</label>
                <input type="email" id="correo" name="correo" placeholder="tucorreo@gmail.com" required><br>
              
                <label for="asunto">Asunto</label>
                <input type="text" id="asunto" name="asunto" placeholder="Asunto del correo" required><br>
              
                <label for="mensaje">Mensaje</label><br>
                <textarea id="mensaje" name="mensaje"  placeholder="Escribe aquí tu mensaje" required></textarea><br>
              
                <button id="btn-email" type="submit">Enviar correo</button>
              </form>
        </div>
    </footer>




    
    <script src="/fun/fun-principal.js"></script>
</body>
</html>