<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Claudia & Nahum</title>
    <link rel="stylesheet" href="css/principal-styles.css">
</head>
<body>
    
    <header class="navbar">
        <nav class="desktop_menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="">Programa</a></li>
                <img src="/images/wedding.png" alt="logo de la boda" class="principal_logo_desktop">
                <li><a href="">Información</a></li>
                <li><a href="/login">RSVP</a></li>
            </ul>
        </nav>
        <nav class="phone_menu">
            <div class="logo_phone">
                <img src="/images/goldLogo.png" alt="" class="principal_logo">
            </div>
            <div class="menu_p">
                <img src="/images/ListGold.png" alt="" class="menu_icon">
            </div>
            <ul class="nav_phone_menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="">Programa</a></li>
                <li><a href="">Información</a></li>
                <li><a href="/login">RSVP</a></li>
            </ul>
        </nav>
    </header>
    <section class="slider_album">
        <div class="slider-container">
            <div class="slide">
                <img src="./images/NahunClau_Preboda-43.jpg" alt="">
            </div>
            <div class="slide">
                <img src="./images/NahunClau_Preboda-19.jpg" alt="">
            </div>
        </div>
        <div class="text_couple">
            <h1>CLAUDIA & NAHUM</h1>
            <h4>19 · OCTUBRE · 2024</h4>
        </div>
    </section>
    <section class="time_left">
        <h2>Solo faltan</h2>
        <div class="time">
            <div class="days"></div>
            <div class="hours"></div>
            <div class="minutes"></div>
            <div class="seconds"></div>
        </div>
    </section>
    <section class="litte_story" id="story_main">
        <div class="text_story">
            <h2>Nuestra historia</h2>
            <p>Hace 6 años que nos conocimos y desde ese momento algo dentro de nosotros se sintió especial, ha sido una aventura llena de grandes aprendizajes, crecimiento pero sobretodo mucho amor, "es como vivir en una luna de miel eterna" - Nahum</p>
            <img src="./images/NahunClau_Preboda-43.jpg" alt="" class="no_phone_img">
        </div>
        <div class="image_story">
            <div class="photo_walking">
                <img src="./images/NahunClau_Preboda-19.jpg" alt="">
            </div>
        </div>
    </section>
    <div class="ticker">
        <div class="ticker-title">
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>  
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>
        </div>
    </div>

    <div class="important_details">
        <div class="text_details">
            <h2>Acerca del día</h2>
        </div>
        <div class="img_details">
            <img src="/images/NahunClau_Preboda-19.jpg" alt="">
        </div>
    </div>
    <section class="main_info">
        <div class="location info_wedding">
            <h2>Ubicación</h2>
        </div>
        <div class="dress_code info_wedding">
            <h2>Dress code</h2>
        </div>
        <div class="hotels info_wedding">
            <h2>Hoteles</h2>
        </div>
        <div class="rsvp_guest info_wedding">
            <h2>RSVP</h2>
        </div>
        <div class="gifts info_wedding">
            <h2>Mesa de Regalos</h2>
        </div>
        <div class="schedule info_wedding">
            <h2>Programa del día</h2>
        </div>
    </section>




    
    <script>
        //slider_home
        const slides = document.querySelectorAll('.slide');
        let currentSlide = 0;

        function showSlide(index) {
            slides.forEach((slide, i) => {
                    if (i == index) {
                        slide.style.display = 'flex';
                    } else {
                        slide.style.display = 'none';
                    }
                });
        }
        function nextSlide() {
            currentSlide = (currentSlide + 1) % slides.length;
            showSlide(currentSlide);
        }
        showSlide(currentSlide);

        setInterval(nextSlide, 4000);

        const weddingDate = new Date("October 19, 2024 21:00:00").getTime();


        function updateTimer() {
            const currentDate = new Date().getTime();
            const timeDifference = weddingDate - currentDate;

            const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
            const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

            if(days == 1){
                document.querySelector('.days').innerHTML= `<span style="font-size:10rem; font-family: 'titlesWedding', sans-serif; font-weight:500; margin-bottom:-20px;">${days}</span> <br> día`;
            } else{
                document.querySelector('.days').innerHTML= `<span class="number_time">${days}</span> <br> días`;
            }
            if(hours == 1){
                document.querySelector('.hours').innerHTML= `<span class="number_time">${hours}</span> <br> hora`;
            } else{
                document.querySelector('.hours').innerHTML= `<span class="number_time">${hours}</span> <br> horas`;
            }
            if(minutes == 1){
                document.querySelector('.minutes').innerHTML= `<span class="number_time">${minutes}</span> <br> minuto`;
            } else{
                document.querySelector('.minutes').innerHTML= `<span class="number_time">${minutes}</span> <br> minutos`;
            }
            if(seconds == 1){
                document.querySelector('.seconds').innerHTML= `<span class="number_time">${seconds}</span> <br> segundo`;
            } else{
                document.querySelector('.seconds').innerHTML= `<span class="number_time">${seconds}</span> <br> segundos`;
            }
            
        }

        updateTimer();

        setInterval(updateTimer, 1000);


        const showTime = document.querySelectorAll('.time div');

        window.addEventListener('scroll', checkScroll)

        function checkScroll(){
            showTime.forEach(box => {
                const boxTop = box.getBoundingClientRect().top;
                const triggerBottom = window.innerHeight * 0.9; 

                if (boxTop < triggerBottom) {
                    box.classList.add('show');
                } else {
                    box.classList.remove('show');
                }
            });
        }
       
        const menuOptions = document.querySelector('.menu_p img')
        const navBar = document.querySelector('.navbar')
        const menuIcon = document.querySelector('.menu_icon')
        const logoW = document.querySelector('.principal_logo')

        menuOptions.addEventListener('click', toggleMobileMenu)
        function toggleMobileMenu() {
            const navPhoneMenu = document.querySelector('.nav_phone_menu');
            navPhoneMenu.classList.toggle('show');
            navBar.classList.toggle('show')


            if(menuIcon.src.includes('ListGold.png') || menuIcon.src.includes('ListGold.png')){
                menuIcon.src = '/images/X.png'
                menuIcon.style.width = '160%'
                phoneBar.style.paddingRight = '20px'
            } else{
                menuIcon.src = '/images/ListGold.png'
                menuIcon.style.width = '90%'
                phoneBar.style.paddingRight = '15px'
            }
        }
        

        const menuDesktop = document.querySelector('.desktop_menu');
        const menuDesktopOp = document.querySelectorAll('.desktop_menu a')
        const logoWDesktop = document.querySelector('.principal_logo_desktop')
        const phoneBar = document.querySelector('.phone_menu')

        document.addEventListener('scroll', () => {
            if(window.scrollY > 600){
                phoneBar.classList.add('phone_scroll')
                menuDesktop.classList.add('desktop_scroll')
                menuDesktopOp.forEach((op) => {op.style.color = '#607660'})
                logoWDesktop.src = '/images/goldLogo.png'
            } else{
                phoneBar.classList.remove('phone_scroll')
                menuDesktop.classList.remove('desktop_scroll')
                menuDesktopOp.forEach((op) => {op.style.color = '#f8f8f8'})
                logoWDesktop.src = '/images/wedding.png'
            }
            
        })


        //TICKER
        const contenedor = document.querySelector(".ticker-title");
        const items = document.querySelectorAll(".ticker-title span");
        let ancho = 0;
        items.forEach( item => ancho += (item.clientWidth + 50));
        contenedor.style.width = ancho + "px";

        let left = 0;
        setInterval(()=>{
            if((left * -1) < (contenedor.children[0].clientWidth + 50)){
                left--;
            }else{
                contenedor.appendChild(contenedor.children[0]);
                left = 0;
            }
            contenedor.style.left = left + "px";
        
        },1000/60);

    
    </script>
</body>
</html>