<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>Claudia & Nahum</title>
    <link rel="stylesheet" href="css/principal-styles.css">
</head>
<body>
    
    <header class="navbar">
        <nav class="desktop_menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="">Programa</a></li>
                <img src="/images/wedding.png" alt="logo de la boda" class="principal_logo_desktop">
                <li><a href="#main_details">Información</a></li>
                <li><a href="/login">RSVP</a></li>
            </ul>
        </nav>
        <nav class="phone_menu">
            <div class="logo_phone">
                <img src="/images/goldLogo.png" alt="" class="principal_logo">
            </div>
            <div class="menu_p">
                <img src="/images/ListGold.png" alt="" class="menu_icon">
            </div>
            <ul class="nav_phone_menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="">Programa</a></li>
                <li><a href="#main_details">Información</a></li>
                <li><a href="/login">RSVP</a></li>
            </ul>
        </nav>
    </header>
    <section class="slider_album">
        <div class="slider-container">
            <div class="slide">
                <img src="./images/NahunClau_Preboda-43.jpg" alt="">
            </div>
            <div class="slide">
                <img src="./images/NahunClau_Preboda-19.jpg" alt="">
            </div>
        </div>
        <div class="text_couple">
            <h1>CLAUDIA & NAHUM</h1>
            <h4>19 · OCTUBRE · 2024</h4>
        </div>
    </section>
    <section class="time_left">
        <h2>Solo faltan</h2>
        <div class="time">
            <div class="days"></div>
            <div class="hours"></div>
            <div class="minutes"></div>
            <div class="seconds"></div>
        </div>
    </section>
    <section class="litte_story" id="story_main">
        <div class="text_story">
            <h2>Nuestra historia</h2>
            <p>Hace 6 años que nos conocimos y desde ese momento algo dentro de nosotros se sintió especial, ha sido una aventura llena de grandes aprendizajes, crecimiento pero sobretodo mucho amor, "es como vivir en una luna de miel eterna" - Nahum</p>
            <img src="./images/NahunClau_Preboda-43.jpg" alt="">
        </div>
        <div class="image_story">
            <div class="photo_walking">
                <img src="./images/NahunClau_Preboda-19.jpg" alt="" class="no_phone_img">
            </div>
        </div>
    </section>
    <div class="ticker">
        <div class="ticker-title">
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>  
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>            
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>
            <span>CLAUDIA&nbsp&&nbspNAHUM&nbsp2024</span>
        </div>
    </div>


    <div class="important_details" id="main_details">
        <div class="text_details">
            <h2>Acerca del día</h2>
        </div>
        <div class="img_details">
            <img src="/images/NahunClau_Preboda-19.jpg" alt="">
        </div>
    </div>
    
    <section class="main_info">
        <div class="location info_wedding">
            <div class="text_info">
                <h2>Ubicación</h2>
                <div class="info_img">
                    <img src="/images/MapPin.png" alt="">
                </div>  
            </div> 
             <p>Aquí encontrarás los horarios clave para el día de la boda. Desde la ceremonia hasta la recepción, te proporcionamos una guía detallada para que puedas planificar tu día de manera efectiva. Estos horarios te serán de gran ayuda para coordinar cada momento especial y asegurarte de no perderte nada durante este día tan significativo. ¡Esperamos que esta información facilite tu experiencia en nuestra boda!</p>
             <div class="anchor">
                <a href="https://maps.app.goo.gl/yLPfyUgFqLGKbxfA7">Ver ubicación</a>
             </div>
        </div>
        <div class="dress_code info_wedding">
            <div class="text_info">
                <h2>Dress code</h2>
                <div class="info_img">
                    <img src="/images/Dress.png" alt="">
                </div>  
            </div> 
             <p>Aquí encontrarás los horarios clave para el día de la boda. Desde la ceremonia hasta la recepción, te proporcionamos una guía detallada para que puedas planificar tu día de manera efectiva. Estos horarios te serán de gran ayuda para coordinar cada momento especial y asegurarte de no perderte nada durante este día tan significativo. ¡Esperamos que esta información facilite tu experiencia en nuestra boda!</p>
             <div class="anchor">
                <a href="/dress-code">Ver recomendiaciones</a>
             </div>
        </div>
        <div class="hotels info_wedding">
            <div class="text_info">
                <h2>Hoteles</h2>
                <div class="info_img">
                    <img src="/images/Bed.png" alt="">
                </div>  
            </div> 
             <p>Aquí encontrarás los horarios clave para el día de la boda. Desde la ceremonia hasta la recepción, te proporcionamos una guía detallada para que puedas planificar tu día de manera efectiva. Estos horarios te serán de gran ayuda para coordinar cada momento especial y asegurarte de no perderte nada durante este día tan significativo. ¡Esperamos que esta información facilite tu experiencia en nuestra boda!</p>
             <div class="anchor">
                <a href="/hoteles">Ver hoteles</a>
             </div>
        </div>
        <div class="rsvp_guest info_wedding">
            <div class="text_info">
                <h2>RSVP</h2>
                <div class="info_img">
                    <img src="/images/RSVP.png" alt="">
                </div> 
            </div> 
            <p>Aquí encontrarás los horarios clave para el día de la boda. Desde la ceremonia hasta la recepción, te proporcionamos una guía detallada para que puedas planificar tu día de manera efectiva. Estos horarios te serán de gran ayuda para coordinar cada momento especial y asegurarte de no perderte nada durante este día tan significativo. ¡Esperamos que esta información facilite tu experiencia en nuestra boda!
            </p>
            <div class="anchor">
                <a href="/login">Hacer reservación</a>
            </div>           
        </div>
        <div class="gifts info_wedding">
            <div class="text_info">
                <h2>Mesa de Regalos</h2>
                <div class="info_img">
                    <img src="/images/Gift.png" alt="">
                </div>  
            </div> 
             <p>Aquí encontrarás los horarios clave para el día de la boda. Desde la ceremonia hasta la recepción, te proporcionamos una guía detallada para que puedas planificar tu día de manera efectiva. Estos horarios te serán de gran ayuda para coordinar cada momento especial y asegurarte de no perderte nada durante este día tan significativo. ¡Esperamos que esta información facilite tu experiencia en nuestra boda!</p>
             <div class="anchor">
                <a href="/">Ver opciones</a>
             </div>
        </div>
        <div class="schedule info_wedding">
            <div class="text_info">
                <h2>Programa del día</h2>
                <div class="info_img">
                    <img src="/images/Clocki.png" alt="">
                </div>  
            </div>   
             <p>Aquí encontrarás los horarios clave para el día de la boda. Desde la ceremonia hasta la recepción, te proporcionamos una guía detallada para que puedas planificar tu día de manera efectiva. Estos horarios te serán de gran ayuda para coordinar cada momento especial y asegurarte de no perderte nada durante este día tan significativo. ¡Esperamos que esta información facilite tu experiencia en nuestra boda!</p>
             <div class="anchor">
                <a href="/">Ver itinerario</a>
             </div>
        </div>
    </section>




    
    <script src="/fun/fun-principal.js"></script>
</body>
</html>