<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>Claudia & Nahum</title>
    <link rel="stylesheet" href="css/principal-styles.css">
</head>
<body>
    
    <header class="navbar">
        <nav class="desktop_menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="">Programa</a></li>
                <img src="/images/wedding.png" alt="logo de la boda" class="principal_logo_desktop">
                <li><a href="#main_details">Informaci贸n</a></li>
                <li><a href="/login">RSVP</a></li>
            </ul>
        </nav>
        <nav class="phone_menu">
            <div class="logo_phone">
                <img src="/images/goldLogo.png" alt="" class="principal_logo">
            </div>
            <div class="menu_p">
                <img src="/images/ListGold.png" alt="" class="menu_icon">
            </div>
            <ul class="nav_phone_menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="">Programa</a></li>
                <li><a href="#main_details">Informaci贸n</a></li>
                <li><a href="/login">RSVP</a></li>
            </ul>
        </nav>
    </header>
    <section class="slider_album">
        <div class="slider-container">
            <div class="slide">
                <img src="./images/NahunClau_Preboda-43.webp" alt="">
            </div>
            <div class="slide">
                <img src="./images/NahunClau_Preboda-19.webp" alt="">
            </div>
        </div>
        <div class="text_couple">
            <h1>CLAUDIA & NAHUM</h1>
            <h4>19 路 OCTUBRE 路 2024</h4>
        </div>
    </section>
    <section class="time_left">
        <h2>Solo faltan</h2>
        <div class="time">
            <div class="days"></div>
            <div class="hours"></div>
            <div class="minutes"></div>
            <div class="seconds"></div>
        </div>
    </section>
    <section class="litte_story" id="story_main">
        <div class="text_story">
            <h2>Nuestra historia</h2>
            <p>Hace 6 a帽os que nos conocimos y desde ese momento algo dentro de nosotros se sinti贸 especial, ha sido una aventura llena de grandes aprendizajes, crecimiento pero sobretodo mucho amor, "es como vivir en una luna de miel eterna" - Nahum</p>
            <img src="./images/NahunClau_Preboda-43.webp" alt="">
        </div>
        <div class="image_story">
            <div class="photo_walking">
                <img src="./images/NahunClau_Preboda-19.webp" alt="" class="no_phone_img">
            </div>
        </div>
    </section>
    <div class="ticker">
        <div class="ticker-title">
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>            
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>            
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>            
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>  
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>            
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>            
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>            
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>            
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>            
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>            
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>            
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>            
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>
            <span>路&nbsp&nbspCLAUDIA&nbsp&&nbspNAHUM&nbsp2024&nbsp&nbsp路</span>
        </div>
    </div>


    <div class="important_details" id="main_details">
        <div class="text_details">
            <h2>Acerca del d铆a</h2>
        </div>
        <div class="img_details">
            <img src="/images/NahunClau_Preboda-19.webp" alt="">
        </div>
    </div>
    
    <section class="main_info">
        <div class="location info_wedding">
            <div class="text_info">
                <h2>Ubicaci贸n</h2>
                <div class="info_img">
                    <img src="/images/MapPin.png" alt="">
                </div>  
            </div> 
             <p>Aqu铆 encontrar谩s la ubicaci贸n exacta del lugar de la boda. Esta informaci贸n te ayudar谩 a llegar sin problemas y a disfrutar de cada momento del evento. 隆Esperamos que esta ubicaci贸n facilite tu experiencia en nuestra boda!</p>
             <div class="anchor">
                <a href="https://maps.app.goo.gl/yLPfyUgFqLGKbxfA7">Ver ubicaci贸n</a>
             </div>
        </div>
        <div class="dress_code info_wedding">
            <div class="text_info">
                <h2>Dress code</h2>
                <div class="info_img">
                    <img src="/images/Dress.png" alt="">
                </div>  
            </div> 
             <p>Aqu铆 te ofrecemos recomendaciones de vestimenta para nuestra boda. Desde el c贸digo de vestimenta hasta sugerencias espec铆ficas, esta gu铆a te ayudar谩 a lucir apropiado y elegante para la ocasi贸n. Esperamos que estas sugerencias hagan que tu elecci贸n sea m谩s sencilla y te permitan disfrutar al m谩ximo de nuestro d铆a especial.</p>
             <div class="anchor">
                <a href="/dress-code">Ver recomendiaciones</a>
             </div>
        </div>
        <div class="hotels info_wedding">
            <div class="text_info">
                <h2>Hoteles</h2>
                <div class="info_img">
                    <img src="/images/Bed.png" alt="">
                </div>  
            </div> 
             <p>Hemos seleccionado una lista de hoteles cercanos que ofrecen una experiencia de hospedaje. Desde lujosos hoteles hasta acogedores bed and breakfasts, hay opciones para todos los gustos y presupuestos. Te recomendamos reservar con anticipaci贸n para asegurar tu alojamiento durante este fin de semana especial.</p>
             <div class="anchor">
                <a href="/hoteles">Ver hoteles</a>
             </div>
        </div>
        <div class="rsvp_guest info_wedding">
            <div class="text_info">
                <h2>RSVP</h2>
                <div class="info_img">
                    <img src="/images/RSVP.png" alt="">
                </div> 
            </div> 
            <p>Para confirmar tu asistencia y reservar tu lugar, te invitamos a completar el formulario de reserva en nuestra p谩gina web. Por favor, aseg煤rate de confirmar tu asistencia o te agradeceriamos que nos indiques si no pudieras asistir. 隆Esperamos con ansias compartir este d铆a especial contigo!
            </p>
            <div class="anchor">
                <a href="/login">Hacer reservaci贸n</a>
            </div>           
        </div>
        <div class="gifts info_wedding">
            <div class="text_info">
                <h2>Mesa de Regalos</h2>
                <div class="info_img">
                    <img src="/images/Gift.png" alt="">
                </div>  
            </div> 
             <p>Para aquellos que deseen compartir su alegr铆a con nosotros, su asistencia es el mejor regalo que pod铆an darnos, adem谩s hemos creado una mesa de regalos donde podr谩n encontrar sugerencias. Desde art铆culos pr谩cticos hasta experiencias inolvidables, cualquier gesto ser谩 apreciado y recordado con cari帽o.</p>
             <div class="anchor">
                <a href="/">Ver opciones</a>
             </div>
        </div>
        <div class="schedule info_wedding">
            <div class="text_info">
                <h2>Programa del d铆a</h2>
                <div class="info_img">
                    <img src="/images/Clock.png" alt="">
                </div>  
            </div>   
             <p>Para asegurarnos de que no te pierdas ni un solo momento de nuestra celebraci贸n, hemos preparado un programa detallado para el d铆a de la boda. Desde la ceremonia hasta la recepci贸n, cada momento especial est谩 cuidadosamente planificado para que disfrutes al m谩ximo de este d铆a 煤nico.</p>
             <div class="anchor">
                <a href="/">Ver itinerario</a>
             </div>
        </div>
    </section>

    <section class="enter-rvsp">
        <div class="img-rsvp">
            <img src="/images/rsvp-imgs.png" alt="foto de boda">
        </div>
        <div class="info-enter-rsvp">
            <h2>Reserva tu lugar</h2>
            <p>Queremos que seas parte de este momento tan importante para nosotros, confirma tu asistencia</p>
            <a href="/login" class="btn-enter-rsvp">RSVP</a>
        </div>
    </section>
    <section class="frequent-qa">
        <h2>Preguntas frecuentes</h2>
        <div class="questions">
            <div class="qa">
                <h3 class="question-title">
                    驴Cu谩l es el tipo de vestimenta para el d铆a de la boda?
                </h3>
                <p class="question-answer">El tipo de vestimenta para el d铆a de la boda es formal de etiqueta, puedes encontrar m谩s detalles en el siguiente enlace</p>
            </div>
            <div class="qa">
                <h3 class="question-title">
                    驴Cu谩l es el horario de la ceremonia?
                </h3>
                <p class="question-answer">La ceremonia de la boda comenzar谩 a las 4:00 p. m. Te recomendamos llegar al menos 30 minutos antes para asegurarte de tener tiempo suficiente para encontrar estacionamiento y tomar asiento.</p>
            </div>
            
            <div class="qa">
                <h3 class="question-title">
                    驴Puedo traer a mis hijos a la boda?
                </h3>
                <p class="question-answer">Entendemos que puede ser dif铆cil encontrar cuidado de ni帽os durante un evento como una boda. Si bien la mayor铆a de nuestras invitaciones son solo para adultos, hacemos excepciones en casos especiales. Por favor, ponte en contacto con nosotros para discutir tus necesidades espec铆ficas.</p>
            </div>
            
            <div class="qa">
                <h3 class="question-title">
                    驴D贸nde puedo estacionar durante la boda?
                </h3>
                <p class="question-answer">Hemos reservado estacionamiento adicional en el lote detr谩s del lugar de la ceremonia. Habr谩 se帽alizaci贸n para ayudarte a encontrarlo f谩cilmente. Si necesitas asistencia adicional, no dudes en preguntar a nuestro personal de eventos.</p>
            </div>
            <div class="qa">
                <h3 class="question-title">
                    驴Hay restricciones diet茅ticas que deba tener en cuenta?
                </h3>
                <p class="question-answer">Intentamos acomodar todas las restricciones diet茅ticas de nuestros invitados. Si tienes alguna alergia alimentaria o requerimiento especial, por favor h谩znoslo saber al confirmar tu asistencia para que podamos hacer los arreglos necesarios con el catering.</p>
            </div>
            <div class="qa">
                <h3 class="question-title">
                    驴D贸nde se llevar谩 a cabo la recepci贸n?
                </h3>
                <p class="question-answer">La recepci贸n se llevar谩 a cabo en el sal贸n de eventos del Hotel Magnolia, ubicado en el centro de la ciudad. La direcci贸n completa es Calle Principal #123.</p>
            </div>
            <div class="qa">
                <h3 class="question-title">
                    驴Habr谩 transporte disponible desde el hotel al lugar de la ceremonia?
                </h3>
                <p class="question-answer">S铆, habr谩 un servicio de transporte disponible desde el hotel hasta el lugar de la ceremonia. Los autobuses estar谩n estacionados frente al vest铆bulo principal del hotel a partir de las 3:00 p. m.</p>
            </div>
        </div>
    </section>
    <footer class="final-section">
        <div class="footer-info">
            <h2 class="footer-text-web">Si tienes alguna duda, <br>no dudes en contactarnos.</h2>
            <h1>CLAUDIA & NAHUM </h1>
            <h3>19 路 OCTUBRE 路 2024</h3>
        </div>
        <div class="email-contact">
            <h2 class="footer-text-phone">Si tienes alguna duda, <br>no dudes en contactarnos.</h2>
            <form action="" method="">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" required><br>
              
                <label for="correo">Correo electr贸nico</label>
                <input type="email" id="correo" name="correo" required><br>
              
                <label for="asunto">Asunto</label>
                <input type="text" id="asunto" name="asunto" required><br>
              
                <label for="mensaje">Mensaje</label><br>
                <textarea id="mensaje" name="mensaje" required></textarea><br>
              
                <button type="submit">Enviar correo</button>
              </form>
        </div>
    </footer>




    
    <script src="/fun/fun-principal.js"></script>
</body>
</html>