<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Claudia & Nahum</title>
    <link rel="stylesheet" href="/css/programa.css">
</head>
<body>
    <header class="navbar">
        <nav class="desktop_menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Programa</a></li>
                <img src="/images/goldLogo.png" alt="logo de la boda" class="principal_logo_desktop">
                <li><a href="#main_details">Información</a></li>
                <li><a href="/login">RSVP</a></li>
            </ul>
        </nav>
        <nav class="phone_menu">
            <div class="logo_phone">
                <img src="/images/goldLogo.png" alt="" class="principal_logo">
            </div>
            <div class="menu_p">
                <img src="/images/ListGold.png" alt="" class="menu_icon">
            </div>
            <ul class="nav_phone_menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Programa</a></li>
                <li><a href="#main_details">Información</a></li>
                <li><a href="/login">RSVP</a></li>
            </ul>
        </nav>
    </header>
    <section class="introduction-program">
        <div class="background-image-program">
            <img src="/images/NahumClau_Preboda-14.webp" alt="Foto de claudia y nahum">
        </div>
        <div class="introduction-program-content">
            <h1>Programa</h1>
            <p>¡Estamos muy emocionados de compartir este día tan especial con ustedes! Aquí les dejamos el programa de la boda.</p>
        </div>  
    </section>

    <section class="schedule">
        <div class="schedule-title">
            <h2>SAVE</h2>
            <h2>THE</h2> 
            <h2>DATES</h2>
        </div>
        <div class="schedule-day">
            <div class="schedule-day-img">
                <img src="/images/NahumClau_Preboda-14.webp" alt="" class="img-1">
            </div>
            <h3>Viernes</h3>
            <h2>18 de Octubre 2024</h2>
            <p class="btn-info-1">Ver más +</p>
            <div class="info-of-day-1 info-day">
                <h3>Evento</h3>
                <p>Civil</p>
                <h3>Lugar</h3>
                <p>Hotel Galería Plaza San Jerónimo</p>
                <h3>Hora</h3>
                <p>18:00hrs</p>
            </div>
        </div>
        <div class="schedule-day">
            <div class="schedule-day-img">
                <img src="/images/NahunClau_Preboda-15.jpg" alt="" class="img-2">
            </div>
            <h3>Sábado</h3>
            <h2>19 de Octubre 2024</h2>
            <p class="btn-info-2">Ver más +</p>
            <div class="info-of-day-2 info-day">
                <h3>Evento</h3>
                <p>Boda Religiosa y Fiesta</p>
                <h3>Lugar</h3>
                <p>Hotel Galería Plaza San Jerónimo</p>
                <h3>Hora</h3>
                <p>14:00 hrs</p>
            </div>
        </div>
        <div class="schedule-day">
            <div class="schedule-day-img">
                <img src="/images/NahunClau_Preboda-25.webp" alt="" class="img-3">
            </div>
            <h3>Domingo</h3>
            <h2>20 de Octubre 2024</h2>
            <p class="btn-info-3">Ver más +</p>
            <div class="info-of-day-3 info-day">
                <h3>Evento</h3>
                <p>Brunch</p>
                <h3>Lugar</h3>
                <p>Hotel Galería Plaza San Jerónimo</p>
                <h3>Hora</h3>
                <p>A partir de las 9:00 hrs</p>
            </div>
        </div>
    </section>
    
    <script src="/fun/fun-programa.js"></script>
</body>
</html>