@font-face {
    font-family: titlesWedding;
    src: url(../fonts/Vogue.ttf);

}
@font-face {
    font-family: Cherolina;
    src: url(../fonts/Cherolina.ttf);
}
@font-face {
    font-family: Southland;
    src: url(../fonts/Southland.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    background-color: #f8f8f8;
}
.navbar{
    position: fixed;
    z-index: 5;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.desktop_menu{
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desktop_scroll{
    width: 70%;
    margin: 20px 0;
    padding: 20px;
    border-radius: 50px;
    background-color: #f8f8f8d6;
    color: #607660;
}
ul{
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    
}
.desktop_menu li{
    list-style: none;
}
.desktop_menu a{
    list-style: none;
    font-size: 1.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f8f8f8;
    padding: 10px;
    border-radius: 50px;
    transition: background 1s;
}

.desktop_menu a:hover{
    background-color: #f8f8f8;
    color: #c0a080;
    cursor: pointer;
}
ul img{
    width: 5%;
    animation: logoAppear 2s;
    animation-timing-function: cubic-bezier(10);
    scale: 1.8;
}

@keyframes logoAppear {
    from{
        transform: scale(2.5) translateY(40px);
    }
    to{
        transform: scale(1) translateY(0px);
    }
}
a{
    text-decoration: none;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #FAF9F9;
}

/*slider album*/

.slider_album{
    width: 100%;
    position: relative;
}
.slider_album::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55); 
    z-index: 3; 
    animation: sliderFirst 2s;
      
}
.slider-container{
    overflow: hidden;
    display: flex;
    width: 100vw;
    height: 90vh;
    animation: sliderFirst 2s;

}
.slide{
    width: 100%;
    display: none;
    animation: showSlide;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.slide img{
    width: 100%;
    object-fit: cover;
    
}
.text_couple{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 4;
    
}
.text_couple h1{
    font-size: 10rem;
    font-family: titlesWedding, sans-serif;
    color: #c0a080;
    animation: showTitle;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.text_couple h4{
    font-size: 4rem;
    font-family: titlesWedding, sans-serif;
    color: #c0a080;
    animation: showTitle;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}
.phone_menu{
    display: none;
}

@keyframes showSlide {
    from{
        opacity: 0.6;
        
    }
    to{
        opacity: 1.6;
    }
}
@keyframes sliderFirst {
    from{
        scale: 2;
        transform: translateY(-40px);
    }
    to{
        scale: 1;
        transform: translateY(0px);
    }
}
@keyframes showTime {
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
    }
}
@keyframes showTitle {
    from{
        scale: .8;
        opacity: 0;
        transform: translateY(-40px);
        
    }
    to{
        scale: 1;
        opacity: 1.6;
        transform: translateY(0px);
    }
}
@keyframes showTitle2 {
    from{
        scale: .8;
        opacity: 0;
        transform: translateY(80px);
        
    }
    to{
        scale: 1;
        opacity: 1.6;
        transform: translateY(0px);
    }
}


/***TIME LEFT***/
.time_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}
.time_left h2{
    font-family: Southland, sans-serif;
    font-size: 6rem;
    color: rgb(96, 118, 96);
    animation: showTitle2 2s;
}
.time{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 150px;
    text-align: center;
}
.time div{
    color: #c0a080;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s, transform 1.5s;
}
.time div.show {
    opacity: 1;
    transform: translateY(0);
}
.number_time{
    font-size:10rem; 
    font-family: 'titlesWedding', sans-serif; 
    font-weight:500;
}



/***NUESTRA HISTORIA***/
.litte_story{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 30px;
    gap: 20px;
    position: relative;
}

.text_story{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: Southland, sans-serif;
    color: rgb(96, 118, 96);
}
.text_story{
    text-align: justify;
    padding: 0 15px;
}

.text_story h2{
    color: #c0a080;
    font-size: 6rem;
}
.text_story p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
}

.text_story img{
    width: 100%;
    border-radius: 20px;
}
.image_story{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #607660;
}
.photo_walking{
    width: 100%;
}
.photo_walking img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px;
}


/****TICKER******/

.ticker {
    font-size: 24px;
    overflow: hidden;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    position:relative;
    height:1.5em;
}

.ticker-title {
    color: #c0a080;
    text-transform: uppercase;
    display:flex;
    position:absolute;
    top:5px;
}

.ticker-title span {
    display: block;
    margin-right:50px;
}


.important_details{
    display: grid;   
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    padding-right: 0;
}
.text_details{
    font-family: Southland, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 6rem;
    color: #607660;
    position: relative;
}
.text_details::after{
    content: '19·OCTUBRE·2024';
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 0;
    top: 25%;
    font-size: 8rem;
    color: #c0a0806e;
    z-index: 4;
}
.img_details img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    height: 350px;
}
.img_details{
    position: relative;
}
.img_details::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000078;
    border-radius: 20px 0px 0px 20px;
}



/******MAIN_INFO******/

.main_info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 40px;
    gap: 20px;
}
.info_wedding{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(40px);
}
.info_wedding:nth-child(1){
    transition: opacity 1s, transform 1s;
}
.info_wedding:nth-child(2){
    transition: opacity 1.5s, transform 1.5s;
}
.info_wedding:nth-child(3){
    transition: opacity 2s, transform 1.5s;
}
.info_wedding:nth-child(4){
    transition: opacity 1s, transform 1s;
}
.info_wedding:nth-child(5){
    transition: opacity 1.5s, transform 1.5s;
}
.info_wedding:nth-child(6){
    transition: opacity 2s, transform 2s;
}
.info_wedding.show {
    opacity: 1;
    transform: translateY(0);
}
.text_info{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    justify-content: start;
}
.info_img{
    display: flex;
    justify-content: end;
}
.info_img img{
    width: 80%;
}
.info_wedding h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #c0a080;
    font-size: 4rem;
    
}
.info_wedding p{
    font-size: 1.6rem;
    color: #607660;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    padding: 20px 0;
}
.info_wedding a{
    color: #607660;
    text-align: end;
}
.anchor{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}
.anchor a{
    padding: 10px 15px;
    background-color: #607660;
    color: #f8f8f8;
    border-radius: 10px;
    font-size: 1.6rem;
    transition: background .7s, color 400ms;
    border: 1px solid transparent;
}
.anchor a:hover{
    background-color: #f8f8f8;
    color: rgb(96, 118, 96);
    border: 1px solid #607660;
    box-shadow: 0 0 10px rgba(96, 118, 96, 0.5);
}







@media screen and (max-width: 690px) {
    .desktop_menu{
        display: none;
    }
    .navbar{
        border-radius: none;
        
    }
    .phone_menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding-right: 15px;
    }
    .logo_phone img{
        width: 30%;
    }
    .menu_p img{
        width: 90%;
    }
    .nav_phone_menu {
        display: none;
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        background-color: #f8f8f8ca;
        z-index: 1000;
        animation: showMenu 1s;
        animation-timing-function: ease-out;
      }
      
    .nav_phone_menu li {
        padding: 15px;
        text-align: center;
        list-style: none;

    }
    .slide{
        animation: none;
    }
      
    .nav_phone_menu a {
        color: rgb(96, 118, 96);
        text-decoration: none;
        animation: showTime 1.5s;
    }
    .navbar.show{
        background-color: #f8f8f8ca;
        border-radius: 0;
    }
    .nav_phone_menu.show {
        display: block;
        
    }
    .phone_scroll{
        width: 100%;
        background-color: #f8f8f8;
        color: #607660;
        height: 20%;
    }
    @keyframes showMenu {
        from{
            height: 0;
        }
        to{
            height: 200px;
        }
    }
    .menu_p{
        display: flex;
        align-items: center;
        justify-content: start;
        padding-right: 15px;
    }

   


    
    .text_couple h1{
        font-size: 5rem;
    }
    .text_couple h4{
        font-size: 2rem;
    }
    .number_time{
        font-size:5rem; 
    }
    .time{
        column-gap: 20px;
        row-gap: 60px;
    }

    .no_phone_img{
        display: none;
    }
    .litte_story{
        display: grid;
        grid-template-columns: 1fr;
        max-height: 800px;
    }
    .litte_story h2{
        color: #607660;
    }



    /****DETAILS*****/
    .text_details{
        font-family: Southland, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 3rem;
        color: #607660;
        position: relative;
    }
    .text_details::after{
        left: 0;
        top: 15%;
        font-size: 4rem;
        color: #c0a0809c;
        z-index: 4;
    }
    .img_details{
        position: relative;
    }
    .img_details img{
        width: 100%;
        display: block;
        object-fit: cover;
        height: 280px;
        border-radius: 20px 0px 0px 20px;
    }
    .img_details::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #00000078;
        border-radius: 20px 0px 0px 20px;
    }
    .info_wedding{
        transition: opacity 1s, transform 1.5s;
    }
}